<div id="submit-ticket" class="topic">
  <div class="sub-inner">
    <div class="wrapper">
      <h1>Your ticket has been submitted</h1>
      <img
        src="../../../../assets/images/ticket/UI_submitted 1.png"
        class="submit-icon"
      />
      <div class="ticket-no">
        <span>Ticket No. </span><span>GA00000001</span>
      </div>
      <p>We're here to help you!</p>
      <div class="button-wrapper">
        <button class="btn-filled">Back to ticket</button>
      </div>
    </div>
  </div>
</div>
