<section
  id="goi-topup-problem"
  class="qa-page relative bg-[url('/assets/images/service/qa/qa-bg.jpg')] bg-cover bg-left"
>
  <div class="bg-overlay absolute top-0 left-0 w-full h-auto 2xl:h-auto">
    <img
      src="../../../../assets/images/service/qa/qa-header.png"
      class="h-full 2xl:h-auto"
      alt="qa-detail-header"
    />
  </div>

  <div
    class="inner mx-auto max-w-[1460px] relative z-10 px-4 pt-64 pb-20 md:px-10"
  >
    <div class="qa-detail-title">
      <div class="wrapper block md:flex md:items-center md:justify-center">
        <div class="qa-icon">
          <img
            src="../../../../assets/images/service/qa/UI_Q.png"
            alt="qa-icon"
            class="w-auto h-[30px] ml-auto mr-auto xs:w-[40px] xs:h-[40px] md:mr-3"
          />
        </div>

        <div class="qa-content break-words text-center mt-4 md:mt-0">
          ปัญหาการเติมเงิน
        </div>
      </div>
    </div>

    <div class="relative mx-auto mt-11">
      <div class="qa-detail-wrapper min-h-[100vh] bg-white">
        <div class="goi-spec-section1 content">
          <h2 class="title">
            ไอเทมหรือค่าเงินต่างๆ ภายในเกมที่ซื้อหรือได้รับมาหายต้องทำอย่างไร ?
          </h2>
          <p>
            เบื้องต้นแนะนำให้ลองรีสตาร์ทเกมใหม่ หากค่าเงิน /
            ไอเทมยังไม่กลับมาจำนวนปกติ ทางทีมงานขอข้อมูลเพิ่มเติมดังนี้
          </p>
          <ol>
            <li>Steam ID (ตัวเลข 17 หลัก):</li>
            <li>Steam Profile URL:</li>
            <li>ช่วงเวลาที่หายไป:ช่วงเวลาที่หายไป:</li>
            <li>Marble ที่หาย:</li>
            <li>Transaction No.:</li>
          </ol>
        </div>
        <div class="goi-spec-section2 content">
          <h2 class="title">สามารถเติมเงินได้ผ่านช่องทางใดบ้าง ?</h2>
          <p>
            สามารถเติมเงินผ่านช่องทางหน้าเว็บไซต์ MYGG หรือ ผ่านช่องทาง Steam
          </p>
        </div>
      </div>
      <mygg-back-button
        class="absolute bottom-0"
        routerLink="../"
      ></mygg-back-button>
    </div>
  </div>
</section>
