<section
  id="how-to-register-gmail"
  class="qa-page relative bg-[url('/assets/images/service/qa/qa-bg.jpg')] bg-cover bg-left"
>
  <div class="bg-overlay absolute top-0 left-0 w-full h-auto 2xl:h-auto">
    <img
      src="../../../../assets/images/service/qa/qa-header.png"
      class="h-full 2xl:h-auto"
      alt="qa-detail-header"
    />
  </div>

  <div
    class="inner mx-auto max-w-[1460px] relative z-10 px-4 pt-64 pb-20 md:px-10"
  >
    <div class="qa-detail-title">
      <div class="wrapper block md:flex md:items-center md:justify-center">
        <div class="qa-icon">
          <img
            src="../../../../assets/images/service/qa/UI_Q.png"
            alt="qa-icon"
            class="w-auto h-[30px] ml-auto mr-auto xs:w-[40px] xs:h-[40px] md:mr-3"
          />
        </div>

        <div class="qa-content break-words text-center mt-4 md:mt-0">
          ขั้นตอนการสมัคร Email Gmail
        </div>
      </div>
    </div>

    <div class="relative mx-auto mt-11">
      <div class="qa-detail-wrapper min-h-[100vh] bg-white">
        <ol>
          <li>
            เข้าสู่เว็บไซต์
            <a href="https://gmail.com" target="_blank">gmail.com</a>
          </li>
          <li>กรอก ชื่อ-นามสกุล จริงของตัวเองลงไป</li>
          <li>กรอกชื่ออีเมลที่ต้องการใช้งานลงไปในช่อง ""ชื่อผู้ใช้งาน""</li>
          <li>
            ตั้งรหัสผ่านที่ต้องการใช้งานลงๆ ไป
            แนะนำให้เป็นรหัสผ่านที่จดจำง่าย<br />
            **รหัสผ่านต้องใช้เป็นตัวอักษรผสมตัวเลขและอักษรพิเศษและต้องตั้ง 8
            ตัวขึ้นไป
          </li>
          <li>กดคลิก ""ถัดไป"" เพื่อกรอกข้อมูล เพิ่มเติมอื่นๆ</li>
          <li>กรอก ""เบอร์โทรศัพท์"" ที่ใช้งานได้ลงไป</li>
          <li>กรอกอีเมลสำรอง จะกรอกหรือไม่กรอกก็ได้</li>
          <li>กรอก วัน/เดือน/ปี ค.ศ. ที่เกิดของผู้สมัครลงไป</li>
          <li>กดเลือก เพศ ของผู้สมัคร กดถัดไป</li>
          <li>
            อ่านข้อตกลงการสมัครของทาง Gmail จากนั้นกดยอมรับ เพื่อยืนยันการสมัคร
            ถือว่าการสมัคร Gmail เสร็จสมบูรณ์
          </li>
        </ol>
      </div>
      <mygg-back-button
        class="absolute bottom-0"
        routerLink="../"
      ></mygg-back-button>
    </div>
  </div>
</section>
