<section
  id="goi-information"
  class="qa-page relative bg-[url('/assets/images/service/qa/qa-bg.jpg')] bg-cover bg-left"
>
  <div class="bg-overlay absolute top-0 left-0 w-full h-auto 2xl:h-auto">
    <img
      src="../../../../assets/images/service/qa/qa-header.png"
      class="h-full 2xl:h-auto"
      alt="qa-detail-header"
    />
  </div>

  <div
    class="inner mx-auto max-w-[1460px] relative z-10 px-4 pt-64 pb-20 md:px-10"
  >
    <div class="qa-detail-title">
      <div class="wrapper block md:flex md:items-center md:justify-center">
        <div class="qa-icon">
          <img
            src="../../../../assets/images/service/qa/UI_Q.png"
            alt="qa-icon"
            class="w-auto h-[30px] ml-auto mr-auto xs:w-[40px] xs:h-[40px] md:mr-3"
          />
        </div>

        <div class="qa-content break-words text-center mt-4 md:mt-0">
          ข้อมูลทั่วไปของเกม
        </div>
      </div>
    </div>

    <div class="relative mx-auto mt-11">
      <div class="qa-detail-wrapper min-h-[100vh] bg-white">
        <div class="goi-information-section1 content">
          <h2>Goi: Let's Play Together คืออะไร ?</h2>
          <p>
            Goi: Let’s Play Together คือ Party Game น้องใหม่ที่มาในธีมสุดน่ารัก
            พร้อมกับมาสคอตผีน้อยม่วงเขียว ‘กุ๊กกู๋’ โดยได้แรงบันดาลใจมาจาก
            “การละเล่นวิ่งไล่จับ ร่วมกับมอญซ่อนผ้า”
            และมีอีกหนึ่งจุดเด่นสำคัญคือจะไม่มีใครต้องนั่งเบื่อดูคนอื่นจนกว่าจะหมดรอบในเกมนี้
            เพราะถึงแม้คุณจะถูกจับจนเหลือแต่วิญญาณไปแล้วก็ยังสามารถวิ่งแกล้งเพื่อนๆ
            ในเกมได้อยู่
          </p>
        </div>
        <div class="goi-information-section2 content">
          <h2>สั่งซื้อเกมและโหลดเกมได้จากทางใดบ้าง ?</h2>
          <p>
            สามารถสั่งซื้อเกม Goi: Let's Play Together
            ได้จากเว็บไซต์หรือโปรแกรมของทาง Steam เท่านั้น
            ก่อนสั่งซื้อเกมกรุณาตรวจสอบสเปคคอมพิวเตอร์ของท่านเองว่าสามารถเล่นเกม
            Goi: Let's Play Together ได้หรือไม่ก่อนนะคะ
          </p>
        </div>
        <div class="goi-information-section3 content">
          <h2>ตัวเกมจะลงเวอร์ชั่นมือถือตอนไหน ?</h2>
          <p>
            ตอนนี้ทางทีมงานมุ่งเน้นไปที่การพัฒนาเวอร์ชั่น pc
            ให้สมบูรณ์ที่สุดก่อน หากพัฒนาเวอร์ชั่น PC
            เรียบร้อยแล้วในอนาคตจะพิจารณาลงใน platform อื่นๆ ต่อไป
          </p>
        </div>
        <div class="goi-information-section4 content">
          <h2>การควบคุมพื้นฐาน</h2>
          <p>W A S D ควบคุมทิศทาง</p>
          <p>Q E ใช้งานไอเทม</p>
          <p>F ส่งต่อคำสาป</p>
          <p>Space bar พุ่งเพื่อสิงร่าง</p>
        </div>
        <div class="goi-information-section5 content">
          <h2>วิธีเพิ่มรายชื่อเพื่อนในเกม</h2>
          <p>สามารถเพิ่มเพื่อนได้ในหน้าต่อไปนี้</p>
          <ul>
            <li>
              end game result จะมีรายชื่อเพื่อนในแมทช์หลังจบเกมอยู่แล้ว กด add
              ได้เลย
            </li>
            <li>
              game history เป็นหน้าใหม่ที่เพิ่มเข้ามา สามารถ end game result
              ย้อนหลังได้ จึงสามารถแอดเพื่อนได้ด้วย
            </li>
          </ul>
        </div>
      </div>
      <mygg-back-button
        class="absolute bottom-0"
        routerLink="../"
      ></mygg-back-button>
    </div>
  </div>
</section>
