<div id="topup-success">
  <div class="inner">
    <div class="welcome-wrapper">
      <app-welcome></app-welcome>
    </div>
    <div class="content">
      <div class="wrapper">
        <h1 [innerHTML]="'topup.complete.text1' | translate">
          The payment has been completed
        </h1>
        <div class="success-icon">
          <img
            src="../../../../assets/images/topup/success/Completed_graphic 1.png"
            alt="success-icon"
          />
        </div>
        <div class="payment-no">
          <span [innerHTML]="'topup.complete.text2' | translate"
            >Payment No. </span
          ><span>xxxxxxxx</span>
        </div>
        <div class="transaction-time">
          <span [innerHTML]="'topup.complete.text3' | translate"
            >Transaction time:</span
          ><span>DD/MM/YYYY 00:00:000</span>
        </div>
        <div class="button-wrapper">
          <button
            class="btn-filled"
            routerLink="/"
            [innerHTML]="'topup.complete.button' | translate"
          >
            Back to site
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
