<section id="reset-password">
  <div class="reset-password-step1" *ngIf="resetPasswordStep === 'step1'">
    <h1 class="title" [innerHTML]="'reset_password.step1.title' | translate">
      RESET YOUR PASSWORD
    </h1>
    <form
      class="content text-center"
      [formGroup]="emailForm"
      (ngSubmit)="handleEmailSubmit()"
    >
      <div
        class="msg msg1"
        [innerHTML]="'reset_password.step1.text' | translate"
      >
        Please provide the email address that you used when you signed up for
        your account. If you forgot your email, Please contact us.
      </div>
      <div class="input-wrapper email">
        <label
          for="email"
          [innerHTML]="'reset_password.step1.email.title' | translate"
          >Email</label
        >
        <input
          id="email"
          type="text"
          placeholder="Placeholder"
          formControlName="email"
        />
        <div class="error-msg" *ngIf="email.invalid && email.touched">
          <small
            class="text-error"
            *ngIf="email.errors?.['required']"
            [innerHTML]="
              'reset_password.step1.email.error.required' | translate
            "
            >This field is required</small
          >
          <small
            class="text-error"
            *ngIf="email.errors?.['pattern']"
            [innerHTML]="'reset_password.step1.email.error.pattern' | translate"
            >Email is invalid</small
          >
        </div>
      </div>
      <div
        class="msg msg2"
        [innerHTML]="'reset_password.step1.text2' | translate"
      >
        We will send you an email that will allow you to reset your password.
      </div>
      <div class="button-wrapper">
        <button
          class="btn-filled"
          type="submit"
          [innerHTML]="'reset_password.step1.button' | translate"
        >
          Reset password
        </button>
      </div>
    </form>
  </div>

  <div class="reset-password-step2" *ngIf="resetPasswordStep === 'step2'">
    <h1 class="title" [innerHTML]="'reset_password.step2.title' | translate">
      CHANGE PASSWORD
    </h1>
    <form [formGroup]="codeForm" (ngSubmit)="handleCodeSubmit()">
      <div
        class="msg msg1"
        [innerHTML]="'reset_password.step2.text' | translate"
      >
        Please enter the code sent to your email address and new your password.
      </div>
      <div class="input-wrapper code">
        <label
          for="code"
          [innerHTML]="'reset_password.step2.password.title' | translate"
          >Code</label
        >
        <input
          id="code"
          type="text"
          placeholder="Placeholder"
          formControlName="code"
        />
        <div class="error-msg" *ngIf="code.invalid && code.touched">
          <small
            class="text-error"
            *ngIf="code.errors?.['required']"
            [innerHTML]="
              'reset_password.step2.password.error.required' | translate
            "
            >This field is required</small
          >
        </div>
      </div>
      <div class="input-wrapper new-password">
        <label
          for="password"
          [innerHTML]="'reset_password.step2.new_password.title' | translate"
          >New Password</label
        >
        <input
          id="password"
          type="password"
          placeholder="Placeholder"
          formControlName="new_password"
        />
        <div
          class="error-msg"
          *ngIf="new_password.invalid && new_password.touched"
        >
          <small
            class="text-error"
            *ngIf="new_password.errors?.['required']"
            [innerHTML]="
              'reset_password.step2.new_password.error.required' | translate
            "
            >This field is required</small
          >
          <small
            class="text-error"
            *ngIf="new_password.errors?.['pattern'] || new_password.errors?.['minlength'] || new_password.errors?.['maxlength']"
            [innerHTML]="
              'reset_password.step2.new_password.error.pattern' | translate
            "
            >The password must be between 8-16 characters, consisting of a
            mixture of English alphabets, numbers or symbols.</small
          >
        </div>
      </div>
      <div class="input-wrapper confirm-new-password">
        <label
          for="confirm_password"
          [innerHTML]="
            'reset_password.step2.confirm_password.title' | translate
          "
          >Confirm New Password</label
        >
        <input
          id="confirm_password"
          type="password"
          placeholder="Placeholder"
          formControlName="confirm_password"
        />
        <div
          class="error-msg"
          *ngIf="confirm_password.invalid && confirm_password.touched"
        >
          <small
            class="text-error"
            *ngIf="confirm_password.errors?.['required']"
            [innerHTML]="
              'reset_password.step2.confirm_password.error.required' | translate
            "
            >This field is required</small
          >
          <small
            class="text-error"
            *ngIf="confirm_password.errors?.['MustMatch']"
            [innerHTML]="
              'reset_password.step2.confirm_password.error.must_match'
                | translate
            "
            >Password and Confirm Password do not match.</small
          >
        </div>
      </div>

      <div class="button-wrapper">
        <button
          class="btn-filled"
          type="submit"
          [innerHTML]="'reset_password.step2.button' | translate"
        >
          Change password
        </button>
      </div>
    </form>
  </div>
</section>
