#reset-password {
  background: url(../../../assets/images/reset-password/reset-password-bg.jpg);
  background-size: cover;
  min-height: 100vh;
  padding: 152px 30px 0 30px;
}
.title {
  font-family: 'Myriad-Pro-SemiBold';
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
}
.input-wrapper {
  max-width: 417px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  label {
    display: block;
    margin-bottom: 8px;
  }
  input {
    width: 100%;
    max-height: 40px;
    height: 40px;
    padding: 9px 12px;
    border-radius: 4px;
    border: 1px solid #515151;
    background: #fff;
  }
}
.reset-password-step1 {
  form {
    max-width: 856px;
    min-height: 448px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
    padding: 68px 64px 94px 64px;
  }

  .msg1 {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .msg2 {
    font-size: 16px;
    margin-top: 40px;
  }
  .button-wrapper {
    margin-top: 24px;
  }
}
.reset-password-step2 {
  form {
    max-width: 856px;
    min-height: 560px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
    padding: 60px 57px 94px 58px;
  }
  .input-wrapper {
    margin-bottom: 30px;
  }
  .msg1 {
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
  }

  .confirm-new-password {
    margin-bottom: 40px;
  }
  .button-wrapper {
    text-align: center;
  }
}

.btn-filled {
  padding: 8px 16px;
  max-width: 272px;
  width: 100%;
}

@media (max-width: 1024px) {
  .reset-password-step1 {
    form {
      padding: 68px 23px 40px 23px;
    }
  }
  .reset-password-step2 {
    form {
      padding: 60px 16px 40px 16px;
    }
  }
}

@media (max-width: 400px) {
  .reset-password-step1 {
    .msg1 {
      font-size: 16px;
    }
    form {
      padding: 30px 16px 40px 16px;
    }
  }
  .reset-password-step2 {
    .msg1 {
      font-size: 16px;
    }
    form {
      padding: 30px 16px 40px 16px;
    }
  }
}
