<section id="support" class="main-page">
  <div class="support-container">
    <div class="content">
      <div class="wrapper">
        <div
          class="title1"
          [innerHTML]="'support_email.title' | translate"
        ></div>
        <div class="title2">support@mygg-game.com</div>
        <div class="submit-button">
          <button
            routerLink="/"
            [innerHTML]="'support_email.button' | translate"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
