#profile {
  background: url('../../../assets/images/profile/profile-bg\ \(2\).jpg')
    no-repeat;
  background-position: initial;
  background-size: cover;
  min-height: 100vh;
  padding: 120px 0 160px 0;
}
.inner {
  padding: 0 96px;
}
.profile-content {
  margin-top: 24px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 23px;
}
.sidebar {
  max-width: 268px;
  max-height: 606px;
  border-radius: 4px;
  background: #fff;
  padding: 31px 0;
}
.sidebar-link {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  cursor: pointer;
  padding: 0 28px 0 22px;
  img {
    width: auto;
  }
  span {
    color: #051640;
    font-family: 'Myriad-Pro-SemiBold';
    font-size: 24px;
    margin-left: 16px;
  }

  &::before {
    display: none;
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    width: 6px;
    height: 48px;
    background: #fcb134;
  }
}
.sidebar-link.active {
  &::before {
    display: block;
  }
}
.line {
  width: 226px;
  height: 1px;
  background: #143d8d;
}
.signout-btn {
  margin: 32px 0 0 0;
}

.content {
  border-radius: 4px;
  background: #fff;
  width: 100%;
}

.mygg-select {
  position: relative;
  z-index: 1;
}

.container {
  font-size: 16px;
}

// Customize select box
.responsive-menu {
  display: none;
  max-width: 774px;
  margin: 24px auto 0 auto;
  .page-icon {
    width: auto;
    height: 17px;
    margin-right: 10px;
  }
  .select-box {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .select-box .options-container {
    position: absolute;
    top: 125%;
    left: 0%;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    border-top: none;
    background-color: #fff;
    max-height: 0;
    width: 100%;
    margin: 0 auto;
    padding: 4px 0 8px 0;
    transition: all 0.4s;
    overflow: hidden;
    order: 1;

    opacity: 0;
    visibility: hidden;
  }

  .select-box.dirty .selected {
    color: #000;
  }

  .selected {
    font-family: 'Myriad-Pro-SemiBold';
    position: relative;
    border-radius: 4px;
    border: 1px solid #515151;
    background-color: #fff;
    width: 100%;
    height: 54px;

    padding: 16px 29px;

    cursor: pointer;
    display: flex;
    align-items: center;
    img {
      width: 24px;
      height: auto;
    }
  }

  .selected::after {
    content: '';
    background: url('/assets/images/sign-up/down-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;

    width: 12px;
    height: 7.2px;
    position: absolute;
    top: 50%;
    right: 27.6px;
    transform: translateY(-50%);
    transition: all 0.4s;
  }

  .select-box .options-container.active {
    max-height: 774px;
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
  }

  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
  }

  .select-box .option {
    position: relative;
    color: #404040;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.1s;
    margin-top: 3px;
    display: flex;
    align-items: center;
  }
  .select-box .option.active {
    background-color: #f2f7ff;
  }
  .select-box .option .active-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    display: none;
  }

  .select-box .option.active .active-icon {
    display: block;
  }

  .select-box .option:first-child {
    margin-top: 0;
  }

  .select-box .option:hover {
    background-color: #dee1e8;
  }

  .select-box .option:hover label {
    color: #06246c;
  }

  .select-box label {
    position: relative;
    top: 6px;
    font-size: 16px;
    color: #404040;
    cursor: pointer;
  }

  .select-box .option .radio {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}

@media (max-width: 1536px) {
  .inner {
    padding: 0 30px;
  }
}

@media (max-width: 1200px) {
  #profile-edit {
    padding: 0 30px;
  }
  .profile-content {
    display: block;
  }
  .sidebar {
    display: none;
  }
  .responsive-menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .inner {
    padding: 0 20px;
  }
}
