<section
  id="how-to-download-steam"
  class="qa-page relative bg-[url('/assets/images/service/qa/qa-bg.jpg')] bg-cover bg-left"
>
  <div class="bg-overlay absolute top-0 left-0 w-full h-auto 2xl:h-auto">
    <img
      src="../../../../assets/images/service/qa/qa-header.png"
      class="h-full 2xl:h-auto"
      alt="qa-detail-header"
    />
  </div>

  <div
    class="inner mx-auto max-w-[1460px] relative z-10 px-4 pt-64 pb-20 md:px-10"
  >
    <div class="qa-detail-title">
      <div class="wrapper block md:flex md:items-center md:justify-center">
        <div class="qa-icon">
          <img
            src="../../../../assets/images/service/qa/UI_Q.png"
            alt="qa-icon"
            class="w-auto h-[30px] ml-auto mr-auto xs:w-[40px] xs:h-[40px] md:mr-3"
          />
        </div>

        <div class="qa-content break-words text-center mt-4 md:mt-0">
          วิธีดาวน์โหลด Steam
        </div>
      </div>
    </div>

    <div class="relative mx-auto mt-11">
      <div class="qa-detail-wrapper min-h-[100vh] bg-white">
        <ol>
          <li>
            เข้าไปที่
            <a href="https://store.steampowered.com" target="_blank">
              https://store.steampowered.com/
            </a>
          </li>
          <li>มุมขวาบนจะพบ ปุ่ม ติดตั้ง Steam ให้กดเข้าไป</li>
          <li>กดติดตั้ง Steam</li>
          <li>เมื่อกดแล้วจะได้ตัว Steamsetup.exe ให้กดดับเบิลคลิก</li>
          <li>กด Next เพืื่อทำการติดตั้ง และทำการเลือกภาษา</li>
          <li>กด Install</li>
          <li>รอจนเสร็จสิ้น กด Finish</li>
        </ol>
      </div>
      <mygg-back-button
        class="absolute bottom-0"
        routerLink="../"
      ></mygg-back-button>
    </div>
  </div>
</section>
