<section
  id="goi-spec"
  class="qa-page relative bg-[url('/assets/images/service/qa/qa-bg.jpg')] bg-cover bg-left"
>
  <div class="bg-overlay absolute top-0 left-0 w-full h-auto 2xl:h-auto">
    <img
      src="../../../../assets/images/service/qa/qa-header.png"
      class="h-full 2xl:h-auto"
      alt="qa-detail-header"
    />
  </div>

  <div
    class="inner mx-auto max-w-[1460px] relative z-10 px-4 pt-64 pb-20 md:px-10"
  >
    <div class="qa-detail-title">
      <div class="wrapper block md:flex md:items-center md:justify-center">
        <div class="qa-icon">
          <img
            src="../../../../assets/images/service/qa/UI_Q.png"
            alt="qa-icon"
            class="w-auto h-[30px] ml-auto mr-auto xs:w-[40px] xs:h-[40px] md:mr-3"
          />
        </div>

        <div class="qa-content break-words text-center mt-4 md:mt-0">
          สเปคคอมพิวเตอร์, การปรับความละเอียดของภาพ
        </div>
      </div>
    </div>

    <div class="relative mx-auto mt-11">
      <div class="qa-detail-wrapper min-h-[100vh] bg-white">
        <div class="goi-spec-section1 content">
          <h2 class="title">
            สเปคคอมพิวเตอร์สำหรับเกม Goi: Let's Play Together
          </h2>
          <div class="mininum-spec">
            <h2>MINIMUM:</h2>
            <p>ระบบปฏิบัติการ: Windows 10 64bit</p>
            <p>โปรเซสเซอร์: Intel Core i7-6700 or AMD equivalent</p>
            <p>หน่วยความจำ: แรม 8 GB</p>
            <p>กราฟิกส์: NVIDIA GTX 960 or AMD equivalent</p>
          </div>
          <div class="recommended-spec">
            <h2>RECOMMENDED:</h2>
            <p>OS: Windows 10 64bit</p>
            <p>Processor: Intel Core i7-6700 or AMD equivalent</p>
            <p>Memory: 8 GB RAM</p>
            <p>Graphics: NVIDIA GTX 1060 or AMD equivalent</p>
          </div>
        </div>
        <div class="goi-spec-section2 content">
          <h2 class="title">ต้องการ ปรับกราฟิกตัวเกม ต้องทำอย่างไร</h2>
          <p>วิธีการปรับตั้งค่าความละเอียดของเกมโดยมีวิธีการ ดังนี้</p>
          <ul>
            <li>เข้าไปที่ "Option"</li>
            <li>
              เลือก "Video" ส่วนนี้จะสามารถปรับ เรโซลูชั่น โหมดหน้าจอ แกมม่า
              คุณภาพ พื้นผิว เงา เอฟเฟค ฯลฯ
            </li>
          </ul>
        </div>
      </div>
      <mygg-back-button
        class="absolute bottom-0"
        routerLink="../"
      ></mygg-back-button>
    </div>
  </div>
</section>
