<section id="career">
  <div class="inner">
    <h1 [innerHTML]="'career.title' | translate">CAREER</h1>
    <div class="wrapper">
      <ng-container *ngIf="career.length === 0">
        <div class="no-career">
          <h2 [innerHTML]="'no_career.text1' | translate">
            There are currently no new job openings available.
          </h2>
          <p [innerHTML]="'no_career.text2' | translate">
            You can stay updated on job openings through our website and
            Facebook page: MYGG
          </p>
          <button
            class="btn-filled"
            routerLink="/"
            [innerHTML]="'no_career.back' | translate"
          >
            Return to the main page.
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="career.length > 0">
        <div class="item" *ngFor="let item of career" [routerLink]="item.id">
          <div class="content">
            <div class="title">{{ item.en.title }}</div>
            <div class="location">{{ item.en.location }}</div>
          </div>
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="8"
              height="14"
              viewBox="0 0 8 14"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0.390524 13.2765C-0.130175 12.7558 -0.130175 11.9115 0.390524 11.3909L4.78105 7.00033L0.390524 2.6098C-0.130175 2.0891 -0.130175 1.24488 0.390524 0.724185C0.911223 0.203485 1.75544 0.203485 2.27614 0.724185L7.60948 6.05752C8.13017 6.57822 8.13017 7.42244 7.60948 7.94313L2.27614 13.2765C1.75544 13.7972 0.911223 13.7972 0.390524 13.2765Z"
                fill="black"
              />
            </svg>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
