<section id="home">
  <div class="inner">
    <div class="home-section1">
      <div class="title">
        <span>{{ 'home.section1.title1' | translate }}</span>
        <span class="block"></span>
        <span>{{ 'home.section1.title2' | translate }}</span>
      </div>
    </div>
    <div class="home-section2">
      <div class="wrapper">
        <div class="home-section2-1">
          <div class="title">{{ 'home.section2.2_1.title' | translate }}</div>
          <div class="content">
            {{ 'home.section2.2_1.content' | translate }}
          </div>
        </div>
        <div class="home-section2-2">
          <div class="title">
            {{ 'home.section2.2_2.sub_title' | translate }}
          </div>
          <div class="service-wrapper">
            <div class="item">
              <div class="service-image">
                <img
                  src="../../../assets/images/home/Publisher_Im.png"
                  alt="Publisher_Im"
                />
              </div>
              <div class="content">
                <div class="service-title">
                  <span class="text">{{
                    'home.section2.2_2.item1.title' | translate
                  }}</span>
                </div>
                <div class="detail">
                  {{ 'home.section2.2_2.item1.detail' | translate }}
                </div>
              </div>
            </div>
            <div class="item">
              <div class="service-image">
                <img
                  src="../../../assets/images/home/Marketing_Im.png"
                  alt="Marketing_Im"
                />
              </div>
              <div class="content">
                <div class="service-title">
                  <span class="text">
                    {{ 'home.section2.2_2.item2.title' | translate }}
                  </span>
                </div>
                <div class="detail">
                  {{ 'home.section2.2_2.item2.detail' | translate }}
                </div>
              </div>
            </div>
            <div class="item">
              <div class="service-image">
                <img
                  src="../../../assets/images/home/Production_Im.png"
                  alt="Production_Im"
                />
              </div>
              <div class="content">
                <div class="service-title">
                  <span class="text">
                    {{ 'home.section2.2_2.item3.title' | translate }}
                  </span>
                </div>
                <div class="detail">
                  {{ 'home.section2.2_2.item3.detail' | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-section3">
      <div class="wrapper">
        <div class="home-section3-1">
          {{ 'home.section3.content1' | translate }}
        </div>
        <div class="home-section3-2">
          <div class="text-wrapper">
            <span>{{ 'home.section3.content2' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
