<div id="about-us">
  <div class="inner">
    <div class="about-us-section1">
      <div class="wrapper">
        <img
          src="../../../assets/images/about-us/WE ARE MYGG 1.png"
          class="about-us-title"
          alt="about-us-title"
        />
        <p [innerHTML]="'about_us.section1.content' | translate"></p>
      </div>
    </div>
    <div class="about-us-section2">
      <div class="item yggdrazil">
        <div class="logo">
          <img
            src="../../../assets/images/about-us/YGG_Pic 1.png"
            class=""
            alt="YGG_Pic 1"
          />
        </div>
        <div class="content">
          <div class="small-logo">
            <img
              src="../../../assets/images/about-us/Yggdrazil White Logo.png"
              class=""
              alt="YGG_Logo 2"
            />
            <div class="text">
              <p [innerHTML]="'about_us.section2.item1' | translate"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="item maco">
        <div class="logo">
          <img
            src="../../../assets/images/about-us/Maco_Pic 1.png"
            class=""
            alt="Maco_Pic 1"
          />
        </div>
        <div class="content">
          <div class="small-logo">
            <img
              src="../../../assets/images/about-us/Logo-of-MACO 1.png"
              class=""
              alt="Logo-of-MACO 1"
            />
            <div class="text">
              <p [innerHTML]="'about_us.section2.item2' | translate">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
