<section
  id="goi-other-problem"
  class="qa-page relative bg-[url('/assets/images/service/qa/qa-bg.jpg')] bg-cover bg-left"
>
  <div class="bg-overlay absolute top-0 left-0 w-full h-auto 2xl:h-auto">
    <img
      src="../../../../assets/images/service/qa/qa-header.png"
      class="h-full 2xl:h-auto"
      alt="qa-detail-header"
    />
  </div>

  <div
    class="inner mx-auto max-w-[1460px] relative z-10 px-4 pt-64 pb-20 md:px-10"
  >
    <div class="qa-detail-title">
      <div class="wrapper block md:flex md:items-center md:justify-center">
        <div class="qa-icon">
          <img
            src="../../../../assets/images/service/qa/UI_Q.png"
            alt="qa-icon"
            class="w-auto h-[30px] ml-auto mr-auto xs:w-[40px] xs:h-[40px] md:mr-3"
          />
        </div>

        <div class="qa-content break-words text-center mt-4 md:mt-0">
          ปัญหาอื่น ๆ
        </div>
      </div>
    </div>

    <div class="relative mx-auto mt-11">
      <div class="qa-detail-wrapper min-h-[100vh] bg-white">
        <div class="goi-spec-section1 content">
          <h2 class="title">
            หากติดตั้งเกมแล้วมีปัญหาไม่สามารถเข้าเล่นได้ต้องทำอย่างไร
          </h2>
          <p>
            เนื่องจากปัญหาของแต่ละคนมีความแตกต่างกันไปผู้เล่นสามารถติดต่อ
            พร้อมระบุรายละเอียดดังนี้
          </p>
          <ol>
            <li>
              รายละเอียดของปัญหา
              โดยอธิบายอย่างละเอียดว่าลักษณะของปัญหาเป็นอย่างไร
            </li>
            <li>สเปคคอมและการ์ดจอ</li>
            <li>Windows และ Graphic Card Drivers</li>
            <li>
              Screenshot หรือ Video ปัญหาที่พบเจอ ส่งให้ทีมงานทาง Email :
              <a href="mailto:support@mygg-game.com">support@mygg-game.com</a>
            </li>
          </ol>
        </div>
        <div class="goi-spec-section2 content">
          <h2 class="title">วิธีการแก้ไขอาการแลค กระตุกหรือค้างในเกม</h2>
          <ol>
            <li>
              ตรวจสอบสัญญาณอินเทอร์เน็ต ซึ่งตามปกติแล้วค่า Ping จะไม่ควรสูงเกิน
              โดยสามารถตรวจสอบสัญญาณได้จาก
              <a href="https://speedtest.adslthailand.com" target="_blank"
                >https://speedtest.adslthailand.com</a
              >
              หากพบว่าค่า ping
              สูงเกินแนะนำให้ทำการติดต่อทางผู้ให้บริการอินเตอร์เน็ตเพื่อรีเซ็ตสัญญาณ
            </li>
            <li>
              วิธีการปรับตั้งค่าความละเอียดของเกมโดยมีวิธีการ ดังนี้
              <ul>
                <li>เข้าไปที่ "Option"</li>
                <li>
                  เลือก "Video" ส่วนนี้จะสามารถปรับ เรโซลูชั่น โหมดหน้าจอ แกมม่า
                  คุณภาพ พื้นผิว เงา เอฟเฟค ฯลฯ
                </li>
              </ul>
            </li>
          </ol>
        </div>
        <div class="goi-spec-section3 content">
          <h2 class="title">
            กรณีปัญหาที่เกิดจาก Direct X ทำให้ไม่สามารถเข้าเกมได้
          </h2>
          <p>
            สำหรับปัญหา Direct X ของผู้เล่นที่ไม่รองรับกับระบบเกม Goi: Let's
            Play Together เนื่องจาก Direct X ไม่ได้เป็นเวอร์ชั่นล่าสุด
            แนะนำให้ทำการอัพเดต Direct X ให้เป็นเวอร์ชั่นล่าสุด Download
            <a
              href="https://www.microsoft.com/en-us/download/details.aspx?id=35"
              target="_blank"
              >https://www.microsoft.com/en-us/download/details.aspx?id=35</a
            >
          </p>
        </div>
        <div class="goi-spec-section4 content">
          <h2 class="title">ทำไมไม่สามารถเข้าเกมได้</h2>
          <p>
            เกิดได้จากหลายสาเหตุ ก่อนอื่นขอให้ผู้เล่นตรวจสอบประกาศจากทีมงาน
            ในช่องทางต่างๆ ว่ามีการปิดปรับปรุงเซิฟเวอร์หรือไม่
            หากไม่มีรบกวนผู้เล่นส่งรายละเอียดปัญหาที่พบเจอ พร้อมภาพ Screenshot
            ข้อความ Error ต่างๆ หรือ Video มาให้ทางทีมงานตรวจสอบ ส่งมาที่อีเมล
            <a href="mailto:support@mygg-game.com">support@mygg-game.com</a>
            โดยระบุ
          </p>
          <ol>
            <li>Steam ID (ตัวเลข 17 หลัก):</li>
            <li>Steam Profile URL:</li>
          </ol>
          <p>
            กรณีไม่สามารถเข้าเกมได้สำหรับ Windows 32 bit อาการ Error
            ดังกล่าวเกิดจาก Windows ที่ต่ำกว่า Windows 10
            ตัวเกมจะไม่รองรับเนื่องจากไม่เพียงพอต่อความต้องการของตัวเกม
            แนะนำให้ทำการ อัปเดต Windows ให้เป็น windows 10 ขึ้นไป version 64
            Bit เพื่อให้สอดคล้องความต้องการของระบบ
          </p>
        </div>
        <div class="goi-spec-section5 content">
          <h2 class="title">ดาวน์โหลดเกมมาแล้ว แต่ไม่สามารถติดตั้งได้</h2>
          <p>
            แนะนำให้ท่านส่งรายละเอียดและปัญหาที่พบเจอพร้อมภาพ Screenshot หรือ
            Video ปัญหาที่พบเจอ ส่งให้ทีมงานทาง Email :
            <a href="mailto:support@mygg-game.com">support@mygg-game.com</a>
          </p>
        </div>
        <div class="goi-spec-section6 content">
          <h2 class="title">ทําไมความเร็วในการดาวน์โหลด/อัปเดตเกมถึงได้ช้า</h2>
          <p>
            อาจเป็นเพราะมีการดาวน์โหลดมากเกินไป หรือเครือข่าย internet ไม่เสถียร
            แนะนำให้ลองอีกครั้งในภายหลัง
            หรือติดต่อผู้ให้บริการอินเตอร์เน็ตเพื่อทำการ Reset สัญญาณ
          </p>
        </div>
      </div>
      <mygg-back-button
        class="absolute bottom-0"
        routerLink="../"
      ></mygg-back-button>
    </div>
  </div>
</section>
