<section
  id="how-to-setting-hotmail-for-receive-reply-from-mygg"
  class="qa-page relative bg-[url('/assets/images/service/qa/qa-bg.jpg')] bg-cover bg-left"
>
  <div class="bg-overlay absolute top-0 left-0 w-full h-auto 2xl:h-auto">
    <img
      src="../../../../assets/images/service/qa/qa-header.png"
      class="h-full 2xl:h-auto"
      alt="qa-detail-header"
    />
  </div>

  <div
    class="inner mx-auto max-w-[1460px] relative z-10 px-4 pt-64 pb-20 md:px-10"
  >
    <div class="qa-detail-title">
      <div class="wrapper block md:flex md:items-center md:justify-center">
        <div class="qa-icon">
          <img
            src="../../../../assets/images/service/qa/UI_Q.png"
            alt="qa-icon"
            class="w-auto h-[30px] ml-auto mr-auto xs:w-[40px] xs:h-[40px] md:mr-3"
          />
        </div>

        <div class="qa-content break-words text-center mt-4 md:mt-0">
          ตั้งค่า Hotmail อย่างไร ให้ได้รับการตอบกลับจาก MYGG
        </div>
      </div>
    </div>

    <div class="relative mx-auto mt-11">
      <div class="qa-detail-wrapper min-h-[100vh] bg-white">
        <ol>
          <li>
            Log in เข้าใช้งาน Hotmail ที่ 
            <a href="https://outlook.live.com/mail/inbox">
              https://outlook.live.com/mail/inbox
            </a>
          </li>
          <li>
            คลิกที่รูปฟันเฟืองขวาบน จากนั้นเลือก การตั้งค่า Outlook ทั้งหมด หรือ
            View all outlook setting
          </li>
          <li>เมื่อเข้าสู่หน้าตั้งค่าแล้ว เลือกที่ อีเมลขยะ หรือ Junk mail</li>
          <li>
            จากนั้น ทำการเพิ่มอีเมล support@mygg-game.com เข้าไปในช่อง
            ผู้ส่งที่ถูกบล็อก หรือ Blocked senders ตามภาพ จากนั้นกดคำว่าเพิ่ม
            หรือ Add หลังช่องอีเมล แล้วกด บันทึก หรือ Save เพียงเท่านี้
            ก็จะได้รับอีเมลตอบกลับจากทาง MYGG
            หลังจากที่มีการแจ้งเรื่องเรียบร้อยแล้ว
          </li>
        </ol>
      </div>
      <mygg-back-button
        class="absolute bottom-0"
        routerLink="../"
      ></mygg-back-button>
    </div>
  </div>
</section>
