<section
  id="goi-policy"
  class="qa-page relative bg-[url('/assets/images/service/qa/qa-bg.jpg')] bg-cover bg-left"
>
  <div class="bg-overlay absolute top-0 left-0 w-full h-auto 2xl:h-auto">
    <img
      src="../../../../assets/images/service/qa/qa-header.png"
      class="h-full 2xl:h-auto"
      alt="qa-detail-header"
    />
  </div>

  <div
    class="inner mx-auto max-w-[1460px] relative z-10 px-4 pt-64 pb-20 md:px-10"
  >
    <div class="qa-detail-title">
      <div class="wrapper block md:flex md:items-center md:justify-center">
        <div class="qa-icon">
          <img
            src="../../../../assets/images/service/qa/UI_Q.png"
            alt="qa-icon"
            class="w-auto h-[30px] ml-auto mr-auto xs:w-[40px] xs:h-[40px] md:mr-3"
          />
        </div>

        <div class="qa-content break-words text-center mt-4 md:mt-0">
          นโยบาย และ บทลงโทษ
        </div>
      </div>
    </div>

    <div class="relative mx-auto mt-11">
      <div class="qa-detail-wrapper min-h-[100vh] bg-white">
        <div class="goi-policy-section1 content">
          <h2 class="title">หากถูกแบนจากระบบแต่ไม่ได้กระทำผิดต้องทำอย่างไร</h2>
          <p>
            หากถูกแบนจากระบบแต่ไม่ได้กระทำผิด
            ทางทีมงานขอข้อมูลของผู้เล่นเพื่อตรวจสอบ
          </p>
          <ol>
            <li>Steam ID (ตัวเลข 17 หลัก):</li>
            <li>Steam Profile URL:</li>
          </ol>
          <p>
            หลังจากทำการแจ้งเรื่องเข้ามาแล้ว รบกวนรอการตรวจสอบและตอบกลับทางอีเมล
            ภายใน xx ชม. หากพบว่าไม่ได้กระทำผิดจะปลดแบนภายใน xx ชั่วโมง
          </p>
        </div>
        <div class="goi-policy-section2 content">
          <h2 class="title">ระบบรายงานผู้เล่น</h2>
          <p>
            หากต้องการแจ้ง report หรือแจ้งตรวจสอบตัวละคร สามารถกด report
            ภายในตัวเกม หลังจากจบเกมได้ สามารถแจ้งผ่าน
          </p>
          <ul>
            <li>ในตอนจบเกมหน้า result</li>
            <li>ในหน้า game history</li>
          </ul>
        </div>
        <div class="goi-policy-section3 content">
          <h2 class="title">กฏกติกาการลงโทษ</h2>
          <p>ทีมงาน MYGG ขอประกาศกติกาการลงโทษสำหรับผู้กระทำความผิดภายในเกม</p>
          <ol>
            <li>
              หากทางทีมงานตรวจพบผู้เล่น
              ที่มีการใช้โปรแกรมแปลกปลอมและโปรแกรมช่วยเล่น ในขณะเล่นเกม
              รวมทั้งพฤติกรรมในการแก้ไขหรือดัดแปลงไฟล์เกม
              จะถูกลงโทษตามทางทีมงานเห็นสมควร จะถูกระงับไอดีเป็นเวลา xx วัน
              และสูงสุดที่ระงับไอดีถาวร
            </li>
            <li>
              การพยายามใช้บัคหรือการใช้ข้อผิดพลาดของระบบเกม
              เพื่อหาผลประโยชน์อย่างไม่ถูกต้องจะถูกลงโทษตามทางทีมงานเห็นสมควร
              และสูงสุดที่ระงับไอดีถาวร
            </li>
            <li>
              การสนับสนุนโปรแกรมช่วยเล่น ไม่ว่าจะเป็นในกรณีใด
              จะถูกลบข้อความเหล่านั้นและถูกแบนออกจากเพจ รวมถึงการระงับไอดีถาวร
            </li>
            <li>
              สำหรับการสอบถามสาเหตุการถูกระงับ
              ทีมงานขอสงวนสิทธิ์ที่จะไม่แสดงหลักฐานใดๆ ในที่สาธารณะ
              โดยผู้เล่นสามารถติดต่อทีมงานทาง ลิงก์แจ้งปัญหา เท่านั้น
              ทีมงานจะพิจารณาและแสดงรายละเอียดของหลักฐานให้เป็นตามเหมาะสมเท่านั้น
            </li>
          </ol>
        </div>
        <div class="goi-policy-section4 content">
          <h2 class="title">หากถูกระงับบัญชีต้องทำอย่างไร ?</h2>
          <p>
            หากถูกระงับบัญชี
            ทีมงานขอให้พิมพ์ข้อมูลดังกล่าวมาให้เพื่อความถูกต้องในการตรวจสอบค่ะ
          </p>
          <ol>
            <li>Steam ID (ตัวเลข) :</li>
            <li>ลิงค์หน้า Steam profile :</li>
          </ol>
          <p>
            หลังจากทำการแจ้งเรื่องเข้ามาแล้ว รบกวนรอการตรวจสอบและตอบกลับทางอีเมล
            ภายใน xx ชม. เพื่อความสะดวกและรวดเร็วในการแก้ไข
            แนะนำให้ทำการกรอกอีเมลที่สามารถเข้าใช้งานได้จริง
            ในช่องอีเมลที่สามารถติดต่อได้
          </p>
        </div>
      </div>
      <mygg-back-button
        class="absolute bottom-0"
        routerLink="../"
      ></mygg-back-button>
    </div>
  </div>
</section>
